body {
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 100vh;
  width: 60%;
  align-content: center;
  margin: auto;
}

header{
  background-color: rgb(221, 209, 232);
  box-shadow: 2px 3px rgb(9, 9, 9);
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: blue;
  font-weight: bold;
  letter-spacing: 0.8px;
  font-size: larger;
}

.nav--ul{
  display: flex;
}

.nav--h1{
  margin-right: auto;
}

.nav--li{
  font-size: 20px;
  display: flex;
  margin: 5px;
  flex-direction: row;
  justify-content: space-between;
  /* border: solid black 2px; */
  /* background-color: white; */
  border-radius: 5px;
}

.nav--li::hover{
  color: blue;
  font-style: bold;
}


.section--li::marker{
  content: '✝   ';
  color: blueviolet;
  font-weight: bolder;
}